# ignore work files
projects.yaml
log
.projects
.template
__pycache__
env
.env
.idea

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
# session
Session.vim
# temporary
.netrwhist
*~
