# ignore work files
projects.yaml
log
.projects
.template
__pycache__
env
.env
.idea
.bash_history
.python_history
.cache

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
# session
Session.vim
# temporary
.netrwhist
*~
