gitlab:
  url: https://gitlab.example.com
# Jira to GitLab Issues/Epics Importer config. The following properties are migrated:
# - Title
# - Original Jira Issue URL
# - Checklist
# - Comments
# - Jira Account ids mentions converted to text names
# - Assignee
# - Priority as Label Priority::Value
# - Labels
# - Due Date
# - Created Date
# - Updated Date
# - Status
# - Parent as Epic
import_epics_from_jira
  jira:
    url: https://example.atlassian.net
    user: admin@example.com
  search_issues: 'project=DEVOPS&issuetype=epic' # jql to select issues of type epic to import
  gitlab_group_path: example/devops # group path to migrate epics to
import_milestones_from_jira:
  jira:
    url: https://example.atlassian.net
    user: admin@example.com
  search_issues: 'project=DEVOPS&subTasksCount>1' # jql toselect issues to import as milestones
  gitlab_project_path: example/devops # project path to migrate milestones to
import_issues_from_jira:
  jira:
    url: https://example.atlassian.net
    user: admin@example.com
  search_issues: 'project=DEVOPS&subTasksCount=0' # jql to select issues to import
  #search_issues: 'project=DEVOPS&issue=DEVOPS-123' - example to try one issue migration
  gitlab_group_path: example/devops # group path to search epics for to assign for issues
  gitlab_project_path: example/devops/general # path of project to mirgate issues to
  name_map: # Map Jira to GitLab users by name, only assignees for now, used as is if not found in map
    Name1 Surname1: Name2 Surname2
  label_map: # Map Jira to GitLab labels, used as is if not found in map
    DevOps: DEVOPS
  parent_to_epic_map: # Map Jira Parent to GitLab Epic Id
    DEVOPS-302: 1
  parent_to_milestone_map: # Map Jira Parent to GitLab Milestone Id
    DEVOPS-304: 1
  parent_to_none_map: # Skip adding Jira Parent (make standalone)
    - DEVOPS-305
  status_to_label_map: # Map Jira Status to GitLab Label
    Backlog: Backlog
    To Do: To Do
    Doing: Doing
    In Progress: Doing
  skip_issues: # Skip migration of some issues
    - DEVOPS-303
