gitlab:
  url: https://gitlab.example.com
  author_email: commiter@example.com
  author_name: Commit Author
projects:
  - path: dev/projects/subgroup/project1 # mandatory
    active: True # mandatory
    description: My Project # mandatory
    visibility: internal # mandatory
    maintainers_group: dev/maintainer # optional
    members:
      - user: bot1
        access_level: 10 # 10 - guest, 20 - reporter, 30 - developer, 40 - maintainer
    deploy_keys: # optional
      - title: root@srv1.example.com
        key: ssh-ed25519 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA root@srv1.example.com
      - title: root@srv2.example.com
        key: ssh-ed25519 BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB root@srv2.example.com
    deploy_tokens: # optional
      - name: gitlab-deploy-token
        scopes:
          - read_registry
    shared_runners_enabled: False
    resolve_outdated_diff_discussions: True # optional
    only_allow_merge_if_pipeline_succeeds: True # optional
    only_allow_merge_if_all_discussions_are_resolved: True # optional
    skip_outdated_deployment_jobs: False # optional
    issues_enabled: False # optional
    wiki_enabled: False # optional
    packages_enabled: False # optional
    service_desk_enabled: False # optional
    approvals_before_merge: 1 # optional
    reset_approvals_on_push: True # optional
    disable_overriding_approvers_per_merge_request: True # optional
    merge_requests_author_approval: False # optional
    merge_requests_disable_committers_approval: True # optional
    require_password_to_approve: False # optional
    protected_branches: # optional
      - name: master
        push_access_level: 0
        merge_access_level: 40
        code_owner_approval_required: True
    protected_tags: # optional
      - name: 'v*'
        create_access_level: 40
    merge_request_approval_rules: # optional
      - name: QA
        groups:
          - dev/qa
        branch: master
        approvals_required: 1
    template: # mandatory for --template-projects
      path: .template # mandatory
      cmd: XXX=zzz ./test.sh # mandatory, runned as cd .template; XXX=zzz ./test.sh ../.projects/dev/projects/subgroup/project1
    specific_runners_enabled: # optional, enable specific runners for projects, runners are identified by description field
      - dev-runner
      - prod-runner
    protected_environments: # optional, create and protect environments
      - name: prod
        deploy_access_level: 40
    bulk_delete_tags: # mandatory for --bulk-delete-tags-in-projects, https://docs.gitlab.com/ce/api/container_registry.html#delete-registry-repository-tags-in-bulk
      # rule list
      # several different rules can be applied to a project, each rule should be run on different hour as the bulk delete function can be only run once an hour (GitLab limitation)
      # non prod tags
      - run_on_hours: [10] # mandatory, day hours list to run this rule
        image_repo_regex: .* # each project can have many docker repos nested in dirs, use regex to match repos against rule
        name_regex_delete: .* # mandatory
        older_than: 2w # optional
        # both types of prod tags exclude
        name_regex_keep: (?:^v.+|^master$) # optional
      # branched prod tmp tags
      - run_on_hours: [12]
        image_repo_regex: .*
        name_regex_delete: ^v\d+-\d+-\d+-.+$
        older_than: 4w
      # prod tags
      - run_on_hours: [14]
        image_repo_regex: .*
        name_regex_delete: (?:^v\d+-\d+-\d+$|^master$)
        keep_n: 10 # optional
    push_rules: # optional
      commit_committer_check: False # requited, all other push_rules sub options are optional
      reject_unsigned_commits: False
      deny_delete_tag: False
      member_check: False
      prevent_secrets: False
      commit_message_regex: ""
      commit_message_negative_regex: ""
      branch_name_regex: ""
      author_email_regex: ""
      file_name_regex: ""
      max_file_size: 0
    variables: # optional
      - key: TEST1 # mandatory
        value: XXX1 # mandatory
        variable_type: env_var # mandatory, env_var or file
        protected: True # mandatory
        masked: False # mandatory
        environment_scope: '*' # mandatory
      - key: TEST1 # mandatory, we can have the same var in different scopes
        value: XXX1 # mandatory
        variable_type: env_var # mandatory, env_var or file
        protected: True # mandatory
        masked: False # mandatory
        environment_scope: 'staging' # mandatory
